html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font: inherit; font-size: 100%; vertical-align: baseline; }

html { line-height: 1; }

ol, ul { list-style: none; }

table { border-collapse: collapse; border-spacing: 0; }

caption, th, td { text-align: left; font-weight: normal; vertical-align: middle; }

q, blockquote { quotes: none; }
q:before, q:after, blockquote:before, blockquote:after { content: ""; content: none; }

a img { border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary { display: block; }

body, input, textarea { font-family: "Open Sans", Arial, sans-serif; font-size: 62.5%; font-weight: 300; color: #555; }

h1 { font-size: 1.8em; }

h2 { font-size: 1.6em; }

h3 { font-size: 1.4em; }

p { margin-bottom: 15px; font-size: 1.2em; line-height: 1.5em; }
p:last-child { margin-bottom: 0; }

a { color: #222; text-decoration: none; }
a:hover { border-bottom: 1px solid #222; }

input, textarea { font-size: 1.1em; }

/* Header */
header h1, header h2 { font-size: 1.8em; line-height: 23px; float: left; }
header h2 { margin-left: 10px; padding-left: 10px; color: #aaa; border-left: 1px solid #ddd; }

/* Footer */
footer { font-size: 1.1em; }

body { margin: 10px; background: #eeeeee url(images/bg.png) repeat 0 0; }

/* Begin Header */
header { margin: 20px 0; }
header nav { display: none; }

/* End Header */
/* Begin Footer */
footer { margin-top: 10px; }
footer nav { float: right; }
footer ul { height: 18px; float: right; }
footer ul li { margin-left: 5px; padding-left: 5px; border-left: 1px solid #ddd; float: left; }
footer ul li:first-child { border: none; }

/* End Footer */
/* Begin Search */
#searchform { float: right; }
#searchform input { width: 180px; padding: 5px 8px; border: none; color: #eee; -webkit-border-radius: 4px; -moz-border-radius: 4px; -ms-border-radius: 4px; -o-border-radius: 4px; border-radius: 4px; background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #333333), color-stop(100%, #555555)); background: -webkit-linear-gradient(top, #333333, #555555); background: -moz-linear-gradient(top, #333333, #555555); background: -o-linear-gradient(top, #333333, #555555); background: linear-gradient(top, #333333, #555555); -webkit-transition: width 0.15s linear; -moz-transition: width 0.15s linear; -o-transition: width 0.15s linear; transition: width 0.15s linear; }
#searchform input:focus { width: 300px; }

/* End Search */
/* Begin Main Structure */
#page { max-width: 960px; margin: 0 auto; }

/* End Main Structure */
/* Begin Slides */
.flexslider { width: 100%; margin: 0; padding: 0; }
.flexslider .slides > article { display: none; }
.flexslider .slides img { display: block; max-width: 100%; }
.flexslider .slides:after { content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0; }

html[xmlns] .slides { display: block; }

* html .slides { height: 1%; }

.no-js .slides > li:first-child { display: block; }

.flex-control-nav { display: none; }

.flex-direction-nav li { width: 20px; height: 40px; position: absolute; top: 50%; margin-top: -20px; text-align: center; }
.flex-direction-nav li:first-child { left: -20px; }
.flex-direction-nav li:last-child { right: -20px; }
.flex-direction-nav li a { display: block; width: 20px; height: 40px; color: #ccc; line-height: 36px; font-size: 2em; font-weight: bold; text-decoration: none; border: none; background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #333333), color-stop(100%, #555555)); background: -webkit-linear-gradient(top, #333333, #555555); background: -moz-linear-gradient(top, #333333, #555555); background: -o-linear-gradient(top, #333333, #555555); background: linear-gradient(top, #333333, #555555); }
.flex-direction-nav li a.flex-disabled { display: none; }
.flex-direction-nav li:first-child a { -moz-border-radius-topleft: 20px; -webkit-border-top-left-radius: 20px; border-top-left-radius: 20px; -moz-border-radius-bottomleft: 20px; -webkit-border-bottom-left-radius: 20px; border-bottom-left-radius: 20px; }
.flex-direction-nav li:last-child a { -moz-border-radius-topright: 20px; -webkit-border-top-right-radius: 20px; border-top-right-radius: 20px; -moz-border-radius-bottomright: 20px; -webkit-border-bottom-right-radius: 20px; border-bottom-right-radius: 20px; }

.flexslider, .single article { max-width: 938px; position: relative; padding: 10px; background: #fff; border: 1px solid #ddd; -webkit-border-radius: 3px; -moz-border-radius: 3px; -ms-border-radius: 3px; -o-border-radius: 3px; border-radius: 3px; }
.flexslider:before, .flexslider:after, .single article:before, .single article:after { content: ''; position: absolute; left: 12px; bottom: 18px; width: 70%; max-width: 300px; height: 30px; background: transparent; z-index: -1; -webkit-box-shadow: rgba(0, 0, 0, 0.35) 0 8px 8px; -moz-box-shadow: rgba(0, 0, 0, 0.35) 0 8px 8px; box-shadow: rgba(0, 0, 0, 0.35) 0 8px 8px; -webkit-transform: skew(-15deg) rotate(-6deg); -moz-transform: skew(-15deg) rotate(-6deg); -ms-transform: skew(-15deg) rotate(-6deg); -o-transform: skew(-15deg) rotate(-6deg); transform: skew(-15deg) rotate(-6deg); }
.flexslider:after, .single article:after { left: auto; right: 12px; -webkit-transform: skew(15deg) rotate(6deg); -moz-transform: skew(15deg) rotate(6deg); -ms-transform: skew(15deg) rotate(6deg); -o-transform: skew(15deg) rotate(6deg); transform: skew(15deg) rotate(6deg); }

/* End Slides */
/* Begin Article */
article { max-width: 938px; position: relative; background: #fff; overflow: hidden; }
article img { max-width: 100%; -webkit-border-radius: 2px; -moz-border-radius: 2px; -ms-border-radius: 2px; -o-border-radius: 2px; border-radius: 2px; }
article h2, article figcaption { position: absolute; }
article h2, article figcaption { padding: 12px 14px; background: rgba(0, 0, 0, 0.8); color: #eee; z-index: 10; -webkit-border-radius: 2px; -moz-border-radius: 2px; -ms-border-radius: 2px; -o-border-radius: 2px; border-radius: 2px; }
article h2 { top: 10px; left: 10px; }
article h2 a { color: #eee; }
article figcaption { max-width: 50%; padding: 8px 14px; bottom: 10px; right: 10px; }

/* End Article */
/* Begin Single Post/Page */
.single article { max-width: 600px; }
.single article .postmeta { margin-top: 10px; }

/* End Single Post/Page */
.left { float: left; }

.right { float: right; }

.clearer { clear: both; }

.hidden { display: none; }

@media only screen and (max-width: 999px) { body { margin-left: 0; margin-right: 0; }
  .flex-direction-nav li:first-child { left: 0; }
  .flex-direction-nav li:first-child a { -moz-border-radius-topleft: 0; -webkit-border-top-left-radius: 0; border-top-left-radius: 0; -moz-border-radius-bottomleft: 0; -webkit-border-bottom-left-radius: 0; border-bottom-left-radius: 0; -moz-border-radius-topright: 20px; -webkit-border-top-right-radius: 20px; border-top-right-radius: 20px; -moz-border-radius-bottomright: 20px; -webkit-border-bottom-right-radius: 20px; border-bottom-right-radius: 20px; }
  .flex-direction-nav li:last-child { right: 0; }
  .flex-direction-nav li:last-child a { -moz-border-radius-topright: 0; -webkit-border-top-right-radius: 0; border-top-right-radius: 0; -moz-border-radius-bottomright: 0; -webkit-border-bottom-right-radius: 0; border-bottom-right-radius: 0; -moz-border-radius-topleft: 20px; -webkit-border-top-left-radius: 20px; border-top-left-radius: 20px; -moz-border-radius-bottomleft: 20px; -webkit-border-bottom-left-radius: 20px; border-bottom-left-radius: 20px; }
  .flexslider, .single article { padding: 0; border: none; }
  article img { -webkit-border-radius: 0; -moz-border-radius: 0; -ms-border-radius: 0; -o-border-radius: 0; border-radius: 0; } }
