@import "compass/reset";
@import "compass/css3";

@import "includes/_settings";
@import "includes/_typography";

* { @include box-sizing(border-box); }

body {
	margin: 10px;
	background: #eee image-url('bg.png') repeat 0 0;
}

/* Begin Common Elements */

input, textarea {
	width: 100%;
	margin-bottom: 10px;
	padding: 5px 8px;
	border: 1px solid #eee;
	background: #fafafa;

	@include border-radius(2px);
}

input[type="submit"] {
	width: inherit;
	cursor: pointer;
}

/* End Common Elements */

/* Begin Header */

header {
	margin: 20px 0 15px;

	nav { display: none; }
}

/* End Header */

/* Begin Footer */

footer {
	margin-top: 10px; 
	
	nav { float: right; }
	ul {
		height: 18px;
		float: right;

		li {
			margin-left: 5px;
			padding-left: 5px;
			border-left: 1px solid #ddd;
			float: left;

			&:first-child { border: none; }
		}
	}
}

/* End Footer */

/* Begin Search */

#searchform {
	float: right;

	input {
		width: 180px;
		margin-bottom: 0;
		padding: 5px 8px;
		border: none;
		color: #eee;

		@include border-radius(4px);
		@include background(linear-gradient(top, #333, #555));
		@include single-transition(width, 0.15s, linear);

		&:focus { width: 300px; }
	}
}

/* End Search */

/* Begin Main Structure */

#page {
	max-width: 962px;
	margin: 0 auto;
}

/* End Main Structure */

/* Begin Slides */

.flexslider {
	width: 100%; 
	margin: 0; 
	padding: 0;
	
	.slides {
		&> article { display: none; }

		img {
			display: block;
			max-width: 100%;
		}

		&:after {
			content: ".";
			display: block;
			clear: both;
			visibility: hidden;
			line-height: 0;
			height: 0;
		} 
	}
}

html[xmlns] .slides {display: block;} 
* html .slides {height: 1%;}
.no-js .slides > li:first-child {display: block;}

.flex-direction-nav {
	li {
		width: 20px;
		height: 40px;
		position: absolute;
		top: 50%;
		margin-top: -20px;
		text-align: center;

		&:first-child { left: -20px; }
		&:last-child { right: -20px; }

		a {
			display: block;
			width: 20px;
			height: 40px;
			color: #ccc;
			line-height: 36px;
			font-size: 2em;
			font-weight: bold;
			text-decoration: none;
			border: none;

			@include background(linear-gradient(top, #333, #555));

			&.flex-disabled { display: none; }
		}

		&:first-child a { @include border-left-radius(20px); }
		&:last-child a { @include border-right-radius(20px); }
	}
}

.flexslider {
	article {
		img {
			@include border-bottom-radius(0);
		}
	}

	.timer {
		width: 100%;
		height: 5px;
		background: #333;

		@include border-bottom-radius(2px);

		.inner {
			width: 0;
			height: 5px;
			background: lighten(#333, 10%);

			@include border-bottom-radius(2px);
		}
	}
}

/* End Slides */

/* Begin Main */

.main {
	position: relative;
	padding: 10px;
	background: #fff;
	border: 1px solid #ddd;

	@include border-radius(3px);

	&:before,
	&:after {
		content: '';
		position: absolute;
		left: 12px;
		bottom: 18px;
		width: 70%;
		max-width: 300px;
		height: 30px;
		background: transparent;
		z-index: -1;

		@include box-shadow(rgba(0, 0, 0, 0.35) 0 8px 8px);
		@include transform(skew(-15deg) rotate(-6deg));
	}

	&:after {
		left: auto;
		right: 12px;

		@include transform(skew(15deg) rotate(6deg));	
	}
}

/* End Main */

/* Begin Article */

article {
	position: relative;
	background: #fff;
	overflow: hidden;

	img {
		max-width: 100%;
		
		@include border-radius(2px);		
	}

	h2,
	figcaption {
		position: absolute;
	}

	h2,
	figcaption {
		padding: 12px 14px;
		background: rgba(0,0,0,0.8);
		color: #eee;
		z-index: 10;

		@include border-radius(2px);
	}

	h2 {
		top: 10px;
		left: 10px;

		a { color: #eee; }
	}

	figcaption {
		max-width: 50%;
		padding: 8px 14px;
		bottom: 10px;
		right: 10px;

		p {
			font-size: 1.1em;
		}	
	}
}

/* End Article */

/* Begin Single Post/Page */

.single {
	.post {
		width: 600px;
		margin: 10px 20px 10px 0;
		padding-right: 17px;
		border-right: 1px solid #eee;

		.content {
			margin-bottom: 10px;
		}
	}

	.postmeta {
		font-size: 1.1em;

		a { color: #eee; }

		time, span {
			display: inline-block;
			margin-right: 10px;

			&:last-child { margin: 0; }
		}
	}
}

/* End Single Post/Page */

/* Begin Comments */

#comments { margin-bottom: 15px; }

.commentlist {
	.comment {
		position: relative;

		.avatar {
			width: 50px;
			margin: 0 10px 10px 0;
		}

		h4 { margin-bottom: 5px; }
		time {
			position: absolute;
			top: 0;
			right: 0;
			font-size: 1.1em;

			a { color: #aaa; }
		}

		.comment-edit-link,
		.comment-reply-link {
			display: inline-block;
			margin: 0 0 10px 10px;
			font-size: 1.1em;
			float: right;
			color: #aaa;
		}

		.children { margin-left: 10px; }
	}
}

#respond {
	.comment-form-comment { margin-bottom: 0; }
	.form-allowed-tags {
		color: #aaa;
		font-size: 1.1em;
	}

	input[type="submit"] {
		width: 100%;
		padding: 10px 8px;
		border: none;
		color: #eee;
		font-size: 11px;

		@include border-radius(4px);
		@include background(linear-gradient(top, #333, #555));		
	}
}

/* End Comments */

/* Begin Sidebar */

#sidebar {
	width: 300px;
	margin: 10px 0;

	ul {
		li {
			font-size: 1.1em;

			li {
				font-size: 1em;
				margin-bottom: 5px;
			}

			h2 { font-size: 1.3em; }

			&.widget { margin-bottom: 10px; }
		}
	}
}

/* End Sidebar */

@import "includes/_misc";
@import "includes/_responsive";