@media only screen and (max-width: 939px) {
	body {
		margin-left: 0;
		margin-right: 0;
	}

	.flex-direction-nav {
		li {
			&:first-child {
				left: 0;

				a {
					@include border-left-radius(0); 
					@include border-right-radius(20px);
				}
			}

			&:last-child {
				right: 0;

				a {
					@include border-right-radius(0);
					@include border-left-radius(20px);
				}
			}
		}
	}

	.main {
		padding: 10px 0;
		border-left: none;
		border-right: none;

		@include border-radius(0);
	}

	article {
		img { @include border-radius(0); }
	}

	.single {
		.post {
			width: 100%;
			float: none;
			margin: 10px 0;
			padding: 0 10px 10px;
			border-right: none;
			border-bottom: 1px solid #eee;
		}
	}

	#sidebar {
		width: 100%;
		float: none;
		padding: 0 10px;
	}
}